<div class="postList">
    {{#if postList.length}}
    <h1>Update Posts</h1>
    {{#each postList as |posts|}}
    <div class="post">
        <p style="font-size: 15px;">Created on: {{posts.created_at}}</p>
        <h2>Title</h2>
        <textarea id="postTitle{{id}}" placeholder="Insert title here">{{posts.title}}</textarea>
        <br><br>
        <h2>Description:</h2>
        <textarea rows="5" cols="60" name="content" id="postDescription{{id}}" placeholder="Text content">
{{posts.content}}
        </textarea>
        <button class="submitBtn" onclick="updatePost({{id}})">Update Post</button>
    </div>
    {{/each}}
    {{else}}
    <div style="padding: 100px;">
        <h2>No Posts to edit, create a post in order to view this page...</h2>
    </div>
    {{/if}}


</div>